<link rel="stylesheet" href="../static/css/sign.css">
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<div class="login-wrap">
   <div class="login-html">
        <p style="color: aliceblue;">성공아 부탁해!</p>
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">로그인</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">회원가입</label>
         <div class="login-form">
            <div class="sign-in-htm">
               <div class="group">
                  <label for="user" class="label">아이디</label>
                  <input id="user" type="text" class="input"  placeholder="학번">
               </div>
               <div class="group">
                  <label for="pass" class="label">비밀번호</label>
                  <input id="pass" type="password" class="input" data-type="password">
               </div>
               <div class="group">
                  <input type="submit" class="button" value="로그인">
               </div>
               <div class="hr"></div>
               <div class="foot-lnk">
                  <a href="#forgot">Forgot Password?</a>
               </div>
            </div>
         <div class="sign-up-htm">
            <div id="noneDiv">
               <div class="group">
                  <label for="user" class="label" >아이디</label>
                  <input id="user" type="text" class="input" placeholder="학번">
               </div>
               <div class="group">
                  <label for="pass" class="label">비밀번호</label>
                  <input id="pass" type="password" class="input" data-type="password">
               </div>
               <div class="group">
                  <label for="pass" class="label">비밀번호 확인</label>
                  <input id="confirm" type="password" class="input" data-type="password">
               </div>
               <div class="group">
                  <label for="name" class="label">이름</label>
                  <input id="name" type="text" class="input">
               </div>
               <div class="group">
                  <label for="phone" class="label">전화번호</label>
                  <input id="phone" type="text" class="input">
               </div>
               <div class="group">
                  <input type="submit" class="button" value="다음" onclick="offDisplay()" style="background-color: hotpink;">
               </div>
            </div>
            <div id="noneDiv_1" style="display: none;">
               <div class="group">
                  <label for="email" class="label">이메일</label>
                  <input id="email" type="email" class="input" placeholder="example@sungkyul.ac.kr">
               </div>
               <div class="group">
                  <input type="submit" class="button" value="이메일 인증하기">
               </div>
               <div class="group">
                  <label for="isEnrolled" class="label">재적 현황을 입력하세요.</label>
                  <input id="isEnrolled" type="text" class="input" placeholder="재학 / 휴학">
               </div>
               <div class="group">
                  <input type="submit" class="button" value="회원가입">
               </div>
               <p>
               </p>
               <div class="group">
                  <input type="submit" class="button" value="이전" onclick="onDisplay()" style="background-color: hotpink;">
               </div>
            </div>
            
         </div>

      </div>
   </div>
</div>
<script>
   function offDisplay(){
      $('#noneDiv').hide();
      $('#noneDiv_1').show();
   }
   function onDisplay(){
      $('#noneDiv').show();
      $('#noneDiv_1').hide();
   }
</script>